.review{
    background-color: #DBD5CD;
    padding: 30px 0 90px;
    .custom-round{
        border-radius: 10px;
    }
    h2{
        color: #2B8D52;
        margin-bottom: 50px;
    }
    .soulWrapper{
        .soulText{
            font-family: 'Ubuntu', sans-serif;
            font-size: 26px;
            color: #1C003F;
            font-style: italic;
            .name{
                color: #2B8D52;
                font-size: 20px;
                font-weight: 500;
                font-style: normal;
            }
        }
    }
    .btn-before{
        background:linear-gradient(90deg, #B64100, #FF6B00); 
        box-shadow: 0px 20px 20px -10px rgba(255,138,0,0.3);
        width: 80px;
        height: 80px;
        border: none;
    }
    .btn-after{
        background:linear-gradient(90deg,#FF6B00 ,  #B64100); 
        box-shadow: 0px 20px 20px -10px rgba(255,138,0,0.3);
        width: 80px;
        height: 80px;
        border: none;
    }
}
@media (max-width:1700px){
    .review{
        .soulWrapper{
            .soulText{
                font-size: 23px;
                .name{
                    font-size: 18px;
                }
            }
        }
    }
}
@media (max-width:992px){
    .review{
        .soulWrapper{
            .soulText{
                font-size: 20px;
                .name{
                    font-size: 16px;
                }
            }
        }
    }
}
