.answer{
    background-image: url('../images/bg_3.png');
    background-size: cover;
    padding: 90px 0;
    .heart{
        background-image: url('../images/heart_2.png');
        background-size: 100% 100%;
        height: 160px;
        font-family: 'Ubuntu', sans-serif;
        font-style: Medium;
        font-size: 18px;
        margin-bottom: 30px;
    }
}
.brush6{
    margin-top: -50px;
    img{
        width: 100%;
    }
}