@media (max-width:1700px){
    .personData{
        h3{
            font-size: 21px;
        }
    }
}
@media (max-width:992px){
    .personData{
        padding-bottom: 50px;
        h3{
            font-size: 18px;
        }
    }
    .brush2{
        margin-bottom: -15px;
    }

}